@model LoginDto
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Giriş sayfası</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Fonts -->
    <link rel="stylesheet" href="~/colorlib-regform-30/css/opensans-font.css" />
    <link rel="stylesheet" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css" />

    <!-- Main Style -->
    <link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
</head>

<body class="form-v4">

    <div class="page-content">
        <div class="form-v4-content">

            <!-- LEFT INFO -->
            <div class="form-left">
                <h2>E-ticaret</h2>

         

                <div class="form-left-last">
                    <a href="/Register/Index">Kayıt ol</a>
                </div>
            </div>

            <!-- FORM -->
            <form class="form-detail"
                  method="post">

                <h2>Giriş Formu</h2>

              
                <div class="form-row">
                    <label>Kullanıcı adınız</label>
                    <input type="text"
                            asp-for="UserName"
                           class="input-text"
                           required />
                </div>
                <div class="form-row">
                    <label>şifreniz</label>
                    <input type="password"
                          asp-for="Password"
                           class="input-text"
                           required />
                </div>

                
                <div class="form-row-last">
                    <input type="submit"
                           class="register"
                           value="Register" />
                </div>

            </form>

        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>



</body>
</html>


