
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/images/getir.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/ikea.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/yemekSepeti.png" alt="">
                </div>
              
            </div>
        </div>
    </div>
</div>