@model List<ResultCategoryDto>
@{
    Layout = null;
}

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Category Name</th>
            
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                
            </tr>
        }
    </table>
</div>
