@model CreateCategoryDto

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Ekleme</h4>
                <p>Kategori ekleme ile ilgili işlemlerini aşağıdan yapabilirsiniz</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form  method="post">
                        <label> Kategori ismi</label>    
                        <input type="text" class="form-control" asp-for="CategoryName" />
                        <br />
                         <button class="btn btn-primary">Kategori ekle</button>
                    
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</section>

