@model List<ResultCategoryDto>
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Öne çıkan kategoriler</span>
    </h2>

    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class="cat-item d-flex align-items-center mb-4">

                        <!-- Resmin olduğu kutu -->
                        <div style="
                            width: 100px;
                            height: 100px;
                            overflow: hidden;
                            border-radius: 6px;
                            ">
                            <img src="@item.ImageUrl"
                                 alt=""
                                 style="
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                     ">
                        </div>

                        <div class="flex-fill pl-3">
                            <h6>@item.CategoryName</h6>
                            <small class="text-body">86 ürün</small>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
