@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne çıkan alan Güncelleme</h4>

                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">

                        <input type="hidden" asp-for="FeatureID" />
                        <label> Öne çıkan alan ismi</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label> Öne çıkan alan icon</label>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <button class="btn btn-primary">öne çıkan alanı güncelle</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>



