@model List<ResultWithCategoryDto>
@{
    ViewData["Title"] = "ProductListWithCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori listesi</h4>
                <p>Kategori ile ilgili işlemlerini aşağıdan yapabilirsiniz</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün  adı </th>
                                <th>Ürün fiyatı</th>
                                <th>Ürün Kategorisi</th>
                                <th>sil </th>
                                <th>güncelle </th>
                                <th>Ürün görselleri </th>
                                <th>Ürün detayları </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductPrice</td>
                                    <td>@item.Category.CategoryName</td>
                                    
                                    <td><a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">sil</a></td>
                                    <td><a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-success">güncelle</a></td>
                                    <td><a href="/Admin/ProductImage/ProductDetailImage/@item.ProductId" class="btn btn-warning">ürün görselleri</a></td>
                                    <td><a href="/Admin/ProductDetail/UpdateProductDetail/@item.ProductId" class="btn btn-warning">ürün detaylarına git</a></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <a href="/Admin/Product/CreateProduct/" class="btn btn-primary">yeni ürün ekle</a>
                </div>
            </div>
        </div>
    </div>
</section>

